.button {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 200px;
  width: 100%;
  padding: 10px;
  text-align: center;
  position: relative;
  top: 0;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    top: -2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.button--disabled {
  opacity: 0.6;
  background-color: #cccccc;
  pointer-events: none;
}
