@import "../../styles/_variables.scss";

.card {
  height: 100px;
  width: 70px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #ddd;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .card__value {
    width: 30px;
    margin-right: 4px;
    text-align: center;
    font-size: 28px;
    letter-spacing: -3px;
  }

  .card__icon {
    margin-right: 3px;
  }
}

.card--red {
  color: $red;
}

.card--facedown {
  background-color: white;
  background-image: url("../../assets/images/card-back.png");
  background-size: contain;
  background-position: center;
}
